h1,
h3,
p,
ul,
ol,
li
{
    text-align: center;
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    font-family: Verdana, Tahoma, sans-serif
}

.links {
    text-align: center;
}